<html>
<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="main">
    <h1>{{ groupOfExamples.title }}</h1>
    <p>{{ groupOfExamples.description }}</p>

    {% for example in groupOfExamples.examples %}
        <h2>{{ example.title }}</h2>
        <p>{{ example.description }}</p>
        <pre>{{ example.code }}</pre>
        <a href="?gid={{ groupOfExamples.id }}&eid={{ example.id }}"
           data-id="{{ groupOfExamples.id }}-{{ example.id }}"
           data-action="run-example">Run example</a>
        <pre id="{{ groupOfExamples.id }}-{{ example.id }}"></pre>
    {% endfor %}

    <script src="js/main.js" async></script>
</body>
</html>
